* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

.a {
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 10vh;
  text-decoration: none;
  display: inline-block;
  width: 10vw;
  height: 10vh;
  text-align: center;
  transition: all 0.5s;
}

.a:hover {
  background: rgba(143, 92, 92, 0.3);
}

.nav-bar {
  list-style: none;
  width: 100vw;
  height: 10vh;
  background: rgba(100, 100, 100, 0.8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  height: 8vh;
  width: 22vw;
}

.customeBtn{
  height: 4vh;
  width: 10vw;
}